header(class='main-header')
  a(href="/" class="logo")
      span(class="logo-mini")
        b
          | F
        | H
      span(class="logo-lg")
        b
          | Flip
        | Holder
  nav(class="navbar navbar-static-top" role="navigation")
      a(href="#" class="sidebar-toggle" data-toggle="push-menu" role="button")
        span(class="sr-only")
          | Toggle navigation
      span 
        | &nbsp;
      div(class="btn-group")
        a(href="#" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown")
          | 数据中心
          b(class="caret")
        ul(class="dropdown-menu dropdown-menu-xs")
          li
            a(href="#")
              | 数据中心1
          li
            a(href="#")
              | 数据中心2
      div(class="navbar-custom-menu")
        ul(class="nav navbar-nav")
          li
            a(href="/")
              | 设置
          li
            a(href="/users")
              | 用户